<nav class="navbar navbar-expand-lg fixed-top colornav">
  <div class="container-fluid px-0">

    
    <img src="assets/img/TXp.png" class="d-block " alt="Logo" style="height: 210px;  object-fit: contain; margin-left: -130px;  margin-right: -70px;" >
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item  nav-t "> 
          
          <a class="nav-link  text-white " aria-current="page"  routerLink="/inicio">Inicio</a></li>
        
        <br>  
        <li class="nav-item dropdown nav-t">
        
          <a class="nav-link  text-white dropdown-toggle boton-3d2" role="button" data-bs-toggle="dropdown" 
          aria-expanded="false" routerLink="/productos">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/semillas">Semillas</a></li>
            <li><a class="dropdown-item" routerLink="/plantas">Plantas</a></li>
            <li><a class="dropdown-item" routerLink="/controlplagas">Contol de Plagas</a></li>
            <li><a class="dropdown-item" routerLink="/herrjardineria">Herramientas de Jardineo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/artdecorativos">Artículos Decorativos</a></li>
          </ul>
        </li>
        <li class="nav-item d-flex align-items-center nav-t">
  <a href="#" class="d-flex align-items-center text-decoration-none  ">
    <span class="nav-link boton-3d3 text-white">Carrito</span>
    <span class="nav-link boton-3d4 d-flex align-items-center justify-content-center">
      <i class="bi bi-cart-fill nav-t"></i>
    </span>
  </a>
        </li>
      </ul>
          
      <form class="d-flex mx-auto" role="search" style="width: 50%;">
        <input class="form-control me-2" type="search" placeholder="Busca Aquí..." aria-label="Search"/>
        <button class="btn btn-warning" type="submit">Busca</button>
      </form>
  
    <!-- Enlaces a la derecha: Mi Usuario y Crear Usuario -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item nav-t d-flex flex-column align-items-center text-white" style="width: 80px;">
          <a routerLink="/verusuario" class="text-white text-decoration-none">
            <i class="bi bi-person fs-4"></i>
          </a>
          <span >Mi Usuario</span>
        </li>

        <li class="nav-item nav-t d-flex align-items-center">
          <a routerLink="/crearusuario" class="nav-link text-white ">Crear Usuario</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Botones sociales flotantes bajo el navbar -->
<div class="social-stack" aria-label="redes sociales">
  <a class="social-fab ig" href="https://instagram.com/tuCuenta" target="_blank" rel="noopener" aria-label="Instagram">
    <i class="bi bi-instagram"></i>
  </a>
  <a class="social-fab fb" href="https://facebook.com/tuPagina" target="_blank" rel="noopener" aria-label="Facebook">
    <i class="bi bi-facebook"></i>
  </a>
</div>