<div class="row mt-1">
<div class="col-lg-6 offset-lg-3">
<div class="card border-primary shadow-lg p-3 mb-5 bg-body rounded">
    <div class="card-header text-center fw-bold">Crear Usuario</div>
  <div class="card-body">
        <form>
            <input type="text" class="form-control mb-3" placeholder="Nombre">
            <input type="text" class="form-control mb-3" placeholder="Correo Electrónico">
            <input type="text" class="form-control mb-3" placeholder="Contraseña">
            <input type="text" class="form-control mb-3" placeholder="Confirme Contraseña">
            <div class="row mt-2 text-center">
                <div class="col-lg-6">
                    <button routerLink="/" type="button" class="btn btn-primary">Registrarse</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>