

<app-navbar></app-navbar>
<div class="container mt-5 pt-4">
  <router-outlet></router-outlet>
</div>





<!--Cuerpo-->
<!--
<div class="contenido-fondo"> 
<br><br><br><br><br>
</div>
<div *ngIf="esInicio()">
<div class="contenidos-destacados">
<div class="contenido-principal">
  <h1 class="titulo-centro">Productos Destacados</h1>
</div>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="margin-top: 40px; height: 300px;">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="8000">
      NOOOOO<img src="assets/img/producto1.jpg" class="d-block w-100" alt="Primera imagen" style="height: 250px; object-fit: contain; ">
      <div class="producto-destacado">
  <div class="descripcion">
    <h2>Bolsa de Cuarzo Nuez</h2>
    <p>Ideal para jardines.  Bolsa de 1.5 kg a solo $3.500</p>
    <button class="btn-comprar">¡¡Quiero saber más!!</button>
  </div>
  <div class="imagen">
    <img src="assets/img/producto111.jpg" alt="cuarzo" style="height: 250px; object-fit: contain; ">
  </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
          <div class="producto-destacado">
  <div class="descripcion">
    <h2>Pasto en Rollos</h2>
    <p>Se vende pasto natural como sintético. Cada rollo cuesta $5.000 un rollo equivale a 1mt2.</p>
    <button class="btn-comprar">¡¡¡Quiero saber más!!</button>
  </div>
  <div class="imagen">
    <img src="assets/img/producto22.jpg" alt="pasto" style="height: 250px; object-fit: contain; ">
  </div>
      </div>
    NOOOO<img src="assets/img/producto11.jpg" class="d-block w-100" alt="Segunda imagen" style="height: 250px; object-fit: contain; "> 
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      NOOOO<img src="assets/img/productos333.jpg" class="d-block w-100" alt="Tercera imagen" style="height: 250px; object-fit: contain;"> 
      <div class="producto-destacado">
        <div class="descripcion">
          <h2>Corta Cesped</h2>
          <p>Se anuncian estas herramientas maravillosas para su jardín, <br> tanto cómo mecánica y manual para su jardín a un precio fábuloso.</p>
          <button class="btn-comprar">¡¡Quiero saber más!!</button>
        </div>
        <div class="imagen">
        <img src="assets/img/productos333.jpg" alt="pasto" style="height: 250px; object-fit: contain; ">
  </div>
      </div>
    
    </div>
  </div>
  <br> <br>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
</div>
</div>
NOOOOOOOOOOOO Contenido principal con espacio para no quedar debajo del navbar 
<div class="container mt-5 pt-5">
  <router-outlet></router-outlet>
</div>}-->
